# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
Debug/
Release/

# NuGet packages
packages/

# SQL Server database files
*.mdf
*.ldf

# Logs
*.log

# Visual Studio Code
.vscode/