USE [master]
GO
/****** Object:  Database [ruba10828tl]    Script Date: 30/07/2026 22:04:10 ******/
CREATE DATABASE [ruba10828tl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ruba10828tl', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXP2017\MSSQL\DATA\ruba10828tl.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ruba10828tl_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXP2017\MSSQL\DATA\ruba10828tl_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ruba10828tl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ruba10828tl]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 30/07/2026 22:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[appointmentID] [int] IDENTITY(1,1) NOT NULL,
	[fileNumber] [nvarchar](50) NOT NULL,
	[department] [nvarchar](100) NOT NULL,
	[doctor] [nvarchar](100) NOT NULL,
	[date] [date] NOT NULL,
	[time] [time](7) NOT NULL,
	[history] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[appointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[siteRatings]    Script Date: 30/07/2026 22:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[siteRatings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[fileNumber] [nvarchar](50) NULL,
	[facilities] [tinyint] NOT NULL,
	[usability] [tinyint] NOT NULL,
	[staff] [tinyint] NOT NULL,
	[cleanliness] [tinyint] NOT NULL,
	[waitTime] [tinyint] NOT NULL,
	[comments] [nvarchar](1000) NULL,
	[createdAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30/07/2026 22:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[fileNumber] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](200) NOT NULL,
	[age] [int] NULL,
	[country] [nvarchar](100) NULL,
	[email] [nvarchar](200) NULL,
	[gender] [nvarchar](10) NULL,
	[password] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[fileNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[siteRatings] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
USE [master]
GO
